In [3]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [7]:
df = pd.DataFrame()
df = pd.read_excel('/Users/abcstark/Downloads/New_dataset.xlsx')

In [8]:
df.head()

,Unnamed: 0,card_id,city_id,merchant_category_id,merchant_id,purchase_amount,purchase_date,state_id,subsector_id,currency
0,0,C_ID_415bb3a509,107,3662,M_ID_b0c793002c,191,2018-03-11 14:57:36,9,19,CHF
1,1,C_ID_415bb3a509,140,3843,M_ID_88920c89e8,181,2018-03-19 18:53:37,9,19,RUB
2,2,C_ID_415bb3a509,330,3230,M_ID_ad5237ef6b,688,2018-04-26 14:08:44,9,14,SEK
3,3,C_ID_415bb3a509,-1,5812,M_ID_9e84cda3b1,436,2018-03-07 09:43:21,-1,8,CAD
4,4,C_ID_ef55cf8d4b,-1,3839,M_ID_3c86fa3831,976,2018-03-22 21:07:53,-1,29,SEK

In [34]:
#fd = open('/Users/abcstark/Downloads/json_final.txt', 'a')
l = []
for i, row in df.head(100).iterrows():
    #data = {"transactions":[{"transactionId":"123","mcc": row['merchant_category_id'], "amount": {"value": row['purchase_amount'], "currencyCode": row['currency']}}]}
    l.append({"transactionId":"123","mcc": row['merchant_category_id'], "amount": {"value": row['purchase_amount'], "currencyCode": row['currency']}})
    #f.write(str(data))
    #print(str(data))
#print(l)
data = {"transactions": l}
#fd.write(str(data))

In [11]:
print(l[100])

{'transactionId': '123', 'mcc': 3004, 'amount': {'value': 861, 'currencyCode': 'NZD'}}

In [35]:
import requests
url = "http://localhost:8080/demo/transaction-footprints"
res = requests.request("POST", url, json= data, headers={'Content-Type':'application/json'})

In [36]:
res

In [19]:
res.json()

{'transactionFootprints': [{'transactionId': '123',
   'carbonEmissionInGrams': 45136.49,
   'carbonEmissionInOunces': 1592.14,
   'carbonSocialCost': {'value': 5.06, 'currencyCode': 'CHF'},
   'waterUseInCubicMeters': 5.78,
   'waterUseInGallons': 1527.34,
   'waterUseSocialCost': {'value': 0.86, 'currencyCode': 'CHF'}},
  {'transactionId': '123',
   'carbonEmissionInGrams': 546.0,
   'carbonEmissionInOunces': 19.26,
   'carbonSocialCost': {'value': 4.8, 'currencyCode': 'RUB'},
   'waterUseInCubicMeters': 0.07,
   'waterUseInGallons': 18.48,
   'waterUseSocialCost': {'value': 0.82, 'currencyCode': 'RUB'}}]}

In [37]:
df.count()

Unnamed: 0              1282
card_id                 1282
city_id                 1282
merchant_category_id    1282
merchant_id             1269
purchase_amount         1282
purchase_date           1282
state_id                1282
subsector_id            1282
currency                1282
dtype: int64

In [39]:
df = df.reset_index()

In [40]:
df.head()

,index,Unnamed: 0,card_id,city_id,merchant_category_id,merchant_id,purchase_amount,purchase_date,state_id,subsector_id,currency
0,0,0,C_ID_415bb3a509,107,3662,M_ID_b0c793002c,191,2018-03-11 14:57:36,9,19,CHF
1,1,1,C_ID_415bb3a509,140,3843,M_ID_88920c89e8,181,2018-03-19 18:53:37,9,19,RUB
2,2,2,C_ID_415bb3a509,330,3230,M_ID_ad5237ef6b,688,2018-04-26 14:08:44,9,14,SEK
3,3,3,C_ID_415bb3a509,-1,5812,M_ID_9e84cda3b1,436,2018-03-07 09:43:21,-1,8,CAD
4,4,4,C_ID_ef55cf8d4b,-1,3839,M_ID_3c86fa3831,976,2018-03-22 21:07:53,-1,29,SEK

In [45]:
df.iloc[0]['city_id']

107

In [49]:
str(df.iloc[i]['merchant_category_id'])

'3662'

In [69]:
#li = []
#df1 = pd.DataFrame()
df['carbonEmissionInGrams'] = None
for i in range(0, 1282):
    li = []
    li.append({"transactionId":"123","mcc": str(df.iloc[i]['merchant_category_id']), "amount": {"value": str(df.iloc[i]['purchase_amount']), "currencyCode": str(df.iloc[i]['currency'])}})
    data = {"transactions": li}
    
    res = requests.request("POST", url, json= data, headers={'Content-Type':'application/json'})
    #print(i)
    if i == 21:
        print(res.json())
    #print(res.json()['transactionFootprints'][0]['carbonEmissionInGrams'])
    if 'transactionFootprints' in res.json():
        df.loc[i, ['carbonEmissionInGrams']] = res.json()['transactionFootprints'][0]['carbonEmissionInGrams']

{'transactionFootprints': [{'transactionId': '123', 'carbonEmissionInGrams': 91638.85, 'carbonEmissionInOunces': 3232.47, 'carbonSocialCost': {'value': 13.89, 'currencyCode': 'CAD'}, 'waterUseInCubicMeters': 11.74, 'waterUseInGallons': 3100.9, 'waterUseSocialCost': {'value': 2.36, 'currencyCode': 'CAD'}}]}

In [71]:
df.head()

,index,Unnamed: 0,card_id,city_id,merchant_category_id,merchant_id,purchase_amount,purchase_date,state_id,subsector_id,currency,carbonEmissionInGrams
0,0,0,C_ID_415bb3a509,107,3662,M_ID_b0c793002c,191,2018-03-11 14:57:36,9,19,CHF,45136.49
1,1,1,C_ID_415bb3a509,140,3843,M_ID_88920c89e8,181,2018-03-19 18:53:37,9,19,RUB,546.0
2,2,2,C_ID_415bb3a509,330,3230,M_ID_ad5237ef6b,688,2018-04-26 14:08:44,9,14,SEK,96378.72
3,3,3,C_ID_415bb3a509,-1,5812,M_ID_9e84cda3b1,436,2018-03-07 09:43:21,-1,8,CAD,136253.86
4,4,4,C_ID_ef55cf8d4b,-1,3839,M_ID_3c86fa3831,976,2018-03-22 21:07:53,-1,29,SEK,25217.61

In [73]:
df.to_csv('/Users/abcstark/Downloads/final_carbon_csv.csv')

In [74]:
df.to_excel('/Users/abcstark/Downloads/final_carbon_excel.xlsx')

In [78]:
df.isna().sum()

index                     0
Unnamed: 0                0
card_id                   0
city_id                   0
merchant_category_id      0
merchant_id              13
purchase_amount           0
purchase_date             0
state_id                  0
subsector_id              0
currency                  0
carbonEmissionInGrams     4
dtype: int64